header {
    display: flex;

    background-image: url("../imgs/PokemonBG.png");

    background-position: center center;
    background-repeat: no-repeat;
    
    background-size: cover; 
}

.placeholderIMG {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}