header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 100%;

    background-image: url("/imgs/Pokemon-BG.jpg");
}