@import "header.css";
@import "nav.css";
@import "main.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img-fluid {
    width: 22vh;
    height: 25vh;
    object-fit: cover;
}